// CONSTANTS
$background: #d6bc83;
$Page1LeftColor: black;
$Page1RightColor: black;
$Page1NextPageColor: white;

// FUNCTIONS
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// STYLING
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: $background;
}

.page {
  height: 100vh;
}

.page-1 {
  position: relative;
  @include flexCenter();

  & > div {
    margin: 0 10px;
  }

  .left {
    font-family: "Pacifico", Georgia, "Times New Roman", Times, serif;
    font-size: 2rem;
    text-align: center;
    position: relative;
    color: $Page1LeftColor;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $background;
      animation: appear 2s ease-out 2.5s forwards;
    }

    @keyframes appear {
      from {
        height: 100%;
      }
      to {
        height: 0;
      }
    }
  }

  .right {
    height: 50vh;
    animation: slide 2s ease-in-out forwards;

    @keyframes slide {
      from {
        transform: translateX(-100vw);
      }
      to {
        transform: translateX(0);
      }
    }

    h3 {
      font-family: Verdana;
      font-size: 1.3rem;
      font-style: italic;
      text-align: center;
    }

    .underline {
      background: $Page1RightColor;
      border-radius: 20px;
      width: 0px;
      height: 3px;
      margin: 0 auto;
      transition: all 0.3s;
    }

    &:hover .underline {
      margin-top: 10px;
      width: 60%;
    }

    img {
      height: inherit;
      transition: transform 0.5s ease-out;
    }

    &:hover img {
      transform: scale(0.85);
    }
  }

  .next-page {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    height: 2.5vh;
    text-align: center;
    color: $Page1NextPageColor;
    transition: all 0.3s ease-in-out;

    .next-page-inner {
      height: inherit;
      animation: jumping 0.5s ease-in-out 5s alternate infinite;
    }

    @keyframes jumping {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-50%);
      }
    }

    svg {
      height: inherit;
      fill: $Page1NextPageColor;
    }

    &:hover {
      transform: translateX(-50%) scale(1.3);
      cursor: pointer;
    }

    &:hover .next-page-inner {
      animation-play-state: paused;
    }
  }
}

.page-2 {
  @include flexCenter();
  justify-content: space-evenly;

  .left {
    width: 30vw;

    select {
      width: inherit;
      border-radius: 20px;
      padding: 5px;
      transform: translateY(50%);
    }

    .article-content {
      background-color: white;
      height: 80vh;
      border-radius: 0 0 10px 10px;
      text-align: center;
      padding: 20px;
    }
  }

  .right {
    font-size: 2rem;
    text-align: center;

    & > * {
      margin: 10px 0;
    }

    img {
      height: 25vh;
    }
  }
}

.page-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}