* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: #d6bc83;
  width: 100vw;
  overflow-x: hidden;
}

.page {
  position: relative;
  height: 100vh;
}

.page-1 .page1-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
}

.page-1 .page1-inner .title {
  font-size: 1.5rem;
  font-family: "Pacifico", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  position: relative;
}

.page-1 .page1-inner .title::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #d6bc83;
}

@-webkit-keyframes appear {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

@keyframes appear {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide {
  from {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.page-1 .page1-inner .image p {
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  font-style: italic;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.page-1 .page1-inner .image p::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.page-1 .page1-inner .image:hover p {
  font-weight: bold;
  letter-spacing: 0.25em;
}

.page-1 .page1-inner .image:hover p::after {
  width: 70%;
}

.page-1 .page1-inner .image:hover img {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.page-1 .page1-inner .image img {
  max-width: 600px;
  width: 90vw;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.page-1 .next-page {
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
}

.page-1 .next-page svg {
  width: 25px;
  fill: white;
}

.page-1 .next-page .next-page-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-1 .next-page:hover {
  -webkit-transform: translateX(-50%) scale(1.3);
          transform: translateX(-50%) scale(1.3);
}

@media (min-width: 870px) {
  html {
    font-size: 20px;
  }
  .next-page-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */